.tip-container {
  position: fixed;
  top: 10px;
  left: 0;
  padding: 0 10px;
  background: #000;
  opacity: 0.6;
  color: #fff;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial
}

.tip-container.right {
  left: initial;
  right: 0;
}

.tip-container a {
  color: #fff;
}
